    <div *ngIf="(pokemon | async) as vm">
        <a (click)="openDialog(vm)"
           class="relative block h-48 overflow-hidden bg-gray-100 rounded-lg shadow dark:bg-gray-800 xl:h-64">
            <img class="w-full h-full object-cover"
                 [alt]="vm?.name"
                 loading=""
                 [src]="vm?.image">

        </a>

        <div class="mt-4 space-x-4">
            <div class="flex-col space-y-1 text-center">
                <span class="font-semibold text-gray-800 dark:text-gray-200 sm:text-lg dark:hover:text-primary hover:text-primary hover:underline">
                    {{vm?.name}}
                    </span>
            </div>
        </div>
    </div>