[nz-carousel-content] {
    text-align: center;
    height: calc(100vh - 120px) !important;
    line-height:calc(100vh - 120px) !important;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }